.App {
  text-align: center;
}

.main-svg {
  
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.plot-container {
  display: flex;
}
.js-plotly-plot .plotly, .js-plotly-plot .plotly div {
margin: 0 auto}

.svg-container {
  display: flex;
}