body {
  background-color: rgb(30, 43, 58);
  color: #fff;
}

.stockcard {
  margin: 0 auto;
  margin-right: 25px;
  margin-top: 25px;
  margin-left: 45px;
  text-align: center;
  height: 10vh;
  min-height: 70px;
  display: flex;
  border: 1px solid rgba(31, 63, 99, 0.4);
  border-radius: 10px;
  background-color: rgba(31, 63, 99, 0.4);
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
  padding-bottom: 8px;
}

.stockcard:hover {
  border: 1px solid rgba(0, 0, 0, 0);
  box-shadow: none;
}

.words {
  margin-left: 10px;
  margin-top: 10px;
}

.cardcontainer {
  margin-bottom: 50px;
}

.numbers {
  margin-right: 10px;
  margin-top: 10px;
}

.chartcard {
  border: 1px solid rgba(31, 63, 99, 0.4);
  border-radius: 10px;
  background-color: rgba(31, 63, 99, 0.4);
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
  padding: 0;
  margin-left: 45px;
  margin-right: 25px;
  border-radius: 20px;
}

.graphcontainer {
  margin-top: 30px;
  margin-bottom: 30px;
}

.main-svg {
  border-radius: 20px;
  color: white;
}

.stockbutton {
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  /* background-image: linear-gradient(147deg, #292727 0%, #04619f 74%); */
  border: 1px solid rgb(31, 63, 99, 0.4);
  width: 25%;
  border-radius: 20px;
  margin: 0 auto;
  margin-bottom: 25px;
  margin-right: 20px;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
}

.stockbutton:hover {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: none;
  border: 1px solid rgb(31, 63, 99, 0.4);
}

.link {
  color: white;
}

.link:hover {
  color: white;
  text-decoration: none;
}

.gain {
  color: rgb(87, 241, 208);
  text-shadow: rgba(87, 241, 208 0.5) 0px 0px 7px;
}

.showinfo {
  margin-right: 20px;
}

.cardcontent {
  margin: auto auto;
  margin-left: 30px;
  margin-right: 30px;
  border: 1px solid rgba(31, 63, 99, 0.4);
  border-radius: 10px;
  background-color: rgba(31, 63, 99, 0.4);
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
  padding: 10px;
  width: 15vw;
}

.top {
  margin-bottom: 50px;
  margin-top: 25px;
  font-size: 28px;
}

.stockarticle {
  margin-top: 30px;
  margin-right: 30px;
  border-radius: 10px;
  border: 1px solid rgba(31, 63, 99, 0.4);
  background-color: rgba(31, 63, 99, 0.4);
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
  padding: 10px;
}

.stockarticle:hover {
  box-shadow: none;
  border: none;
}

label {
  color: white !important;
}
input {
  color: white !important;
}

.register,
.login {
  margin: auto auto;
  width: 100%;
  max-width: 800px;
  margin-top: 10vh;
  border-radius: 10px;
  border: 1px solid black;
  background-color: rgba(31, 63, 99, 0.4);
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
}

.login {
  height: 60vh;
  min-height: 300px;
}

.login-container {
  height: 100%;
}
.reg-image-holder {
  margin: auto auto;
  margin-left: 3vw;
}

.reg-inputs {
  padding: 25px;
}

.login-image-holder {
  margin: auto auto;
}

.login-inputs {
  margin: auto auto;
}

.recentprice {
  font-size: 30px;
}

.articleimage {
  margin-right: 35px;
  border-radius: 25px;
  border: 1px solid rgba(31, 63, 99, 0.4);
}

.articletop {
  margin-bottom: 10px;
  font-size: 14px;
  text-align: left;
}

.articlebottom {
  font-size: 11px;
  text-align: left;
}

.articlelink {
  color: white;
}

.articlelink:hover {
  color: white;
  text-decoration: none;
}

.keyinfo {
  border-radius: 10px;
  border: 1px solid rgba(31, 63, 99, 0.4);
  background-color: rgba(31, 63, 99, 0.4);
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
  margin-right: 35px;
  margin-left: 35px;
  margin-top: 30px;
  height: 600px;
  min-height: 400px;
  max-height: 425px;
}

.lower {
  margin-top: 1vh;
}

.popular {
  margin-top: 60px;
  margin-bottom: 60px;
}

.logo {
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 30px;
  letter-spacing: 1.2px;
  display: relative;
  margin-bottom: 30px;
}

.nav {
  opacity: 1;
}

.background {
  width: 100vw;
  height: 100vh;
}

.first {
  position: relative;
}

.second {
  position: absolute;
  top: 20px;
}

#opace {
  background-color: rgba(0, 0, 0, 0.2);
  height: 70px;
  font-size: 32px;
}

.chartbuttons {
  margin-bottom: 20px;
}

.chartbutton {
  margin-right: 25px;
}

.chartshowcard {
  border: 1px solid rgba(31, 63, 99, 0.4);
  border-radius: 10px;
  background-color: rgba(31, 63, 99, 0.4);
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
  padding: 0;
  margin-left: 45px;
  margin-right: 25px;
  margin-top: 40px;
  margin-bottom: 60px;
  border-radius: 20px;
}

.stocklisting {
  padding: 20px;
  font-size: 24px;
}

.stocklisting:hover {
  background-color: rgba(31, 63, 99, 0.4);
  cursor: pointer;
}

.buycontainer {
  border: 1px solid rgba(31, 63, 99, 0.4);
  border-radius: 10px;
  background-color: rgba(31, 63, 99, 0.4);
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
  padding: 10px;
  padding-top: 30px;
  margin-left: 45px;
  margin-right: 25px;
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 15vh;
  margin-bottom: 60px;
  width: 50vw;
  height: 50vh;
}

.purchaseamount {
  color: black;
  margin-top: 50px;
}

.totalbuycost {
  margin-top: 30px;
  margin-right: 20px;
}

.buyheader {
  margin-left: 12%;
  margin-right: 6%;
  margin-top: 50px;
  margin-bottom: 40px;
}

.logo {
  border-radius: 60px;
  display: relative;
  top: -20px;
}

.buylogo {
  border-radius: 60px;
  margin-top: 5vh;
}

.portfoliochart {
  margin-top: 10vh;
  font-size: 30px;
  font-weight: bold;
  margin-top: 60px;
  margin-right: 30px;
  margin-left: 30px;
  border-radius: 10px;
  border: 1px solid rgba(31, 63, 99, 0.4);
  background-color: rgba(31, 63, 99, 0.4);
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
  padding: 10px;
}

.tablevalues {
  margin-top: 10px;
  margin-right: 30px;
  margin-left: 30px;
  border-radius: 10px;
  border: 1px solid rgba(31, 63, 99, 0.4);
  background-color: rgba(31, 63, 99, 0.4);
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
  padding: 10px;
  padding-bottom: 25px;
}

.fullchart {
  margin-top: 6vh;
}

.logodashboard {
  border-radius: 60px;
  margin: auto auto;
  margin-top: 15px;
  margin-left: 10px;
}

.searchbutton {
  width: 90px;
  margin-left: 20px;
}
#src {
  color: black;
}

.searchcontainer {
  display: relative;
  margin-right: 1100px;
}

.homelogo {
  width: 1000px;
  margin: 0 auto;
  height: 900px;
}

.logocontainer {
  width: 100vw;
}

.homewords {
  margin-top: 40vh;
  font-size: 40px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.homebuttons {
  font-size: 30px;
  margin-top: 70px;
  font-weight: bold;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.homeregister {
  margin-left: 40px;
  border-radius: 30px;
}

.homelogin {
  border-radius: 30px;
}

.homeregister:hover {
  background-color: rgb(0, 120, 141);
}

.homelogin:hover {
  background-color: rgb(0, 120, 141);
}

.navitem {
  color: white;
  font-size: 28px;
  font-weight: bold;
  margin-top: 15px;
}

.left {
  margin-right: 1310px;
}

.symbolcard {
  margin-bottom: 20px;
}

.highvolume {
  margin-top: 30px;
  margin-bottom: 70px;
}

.width {
  width: 120px;
}

.bottom {
  font-size: 28px;
}
.info {
  font-size: 22px;
}

.underline {
  text-decoration: underline;
}

.navitemsearch {
  color: white;
  font-size: 28px;
  font-weight: bold;
  margin-top: -10px;
}

#src {
  margin-top: 20px;
}

#moveleft {
  margin-right: 170px;
}
