body {
  background-color: rgb(30, 43, 58);
  color: #fff;
}

.stockcard {
  margin: 0 auto;
  margin-right: 25px;
  margin-top: 10px;
  margin-left: 45px;
  text-align: center;
  height: 10vh;
  background-color: rgba(31, 63, 99, 0.4);
  display: flex;
  border-radius: 20px;
}

.words {
  margin-left: 10px;
  margin-top: 10px;
}

.cardcontainer {
  margin-bottom: 50px;
}

.numbers {
  margin-right: 10px;
  margin-top: 10px;
}

.chartcard {
  background-color: rgba(31, 63, 99, 0.4);
  padding: 0;
  margin-left: 45px;
  margin-right: 25px;
  border-radius: 20px;
}

.graphcontainer {
  margin-top: 30px;
  margin-bottom: 30px;
}

.main-svg {
  border-radius: 20px;
  color: white;
}

.stockbutton {
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
  border: 1px solid rgb(31, 63, 99, 0.4);
  width: 25%;
  border-radius: 20px;
  margin: 0 auto;
}

.link {
  color: white;
}

.link:hover {
  color: white;
  text-decoration: none;
}

.gain {
  color: rgb(87, 241, 208);
  text-shadow: rgba(87, 241, 208 0.5) 0px 0px 7px;
}

.showinfo {
  margin-right: 20px;
}

.cardcontent {
  margin: auto auto;
}

.top {
  margin-bottom: 70px;
  margin-top: 25px;
}

.stockarticle {
  margin-top: 30px;
  border: solid 1px black;
  margin-right: 30px;
  box-shadow: 2px 5px 2px 5px rgba(31, 63, 99, 0.4);
}

label {
  color: white !important;
}
input {
  color: white !important;
}
